---
import Layout from "../layouts/Layout.astro";
---

<Layout title="bkmac">
  <!-- <label>
		<input type = 'checkbox'>
		<span class = 'slider'></span>
	</label> -->
  <main>
    <div class="text">
      <h1 class="introduction">Hi! My name's Bartek!</h1>
      <hr />
      <p>
        I am a budding front-end developer with a passion for creating engaging
        user experiences.
        <br />
        My go-to technologies include React, Next.js, and TypeScript. With a commitment
        to writing clean, efficient code,
        <br />
        I'm confident in my ability to tackle any project that comes my way.
        <br />
        Whether it's building a dynamic e-commerce site or designing a sleek, modern
        interface,
        <br />
        I am always eager to learn and grow in my field.
        <br />
        If you're looking for a dedicated developer who's ready to take on new challenges,
        look no further!
      </p>
      <hr />
    </div>
    <div class="contact">
      <h1>Contact me!</h1>
      <p class="contact-p">
        <a class="mail" href="mailto:bkmac@bkmac.pl" target="_blank" >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
            ><path
              d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
            ></path></svg>
        </a>
        <a
          class="discord"
          href="https://discordapp.com/users/673204631383441449" target="_blank"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
            ><path
              d="M14.82 4.26a10.14 10.14 0 0 0-.53 1.1 14.66 14.66 0 0 0-4.58 0 10.14 10.14 0 0 0-.53-1.1 16 16 0 0 0-4.13 1.3 17.33 17.33 0 0 0-3 11.59 16.6 16.6 0 0 0 5.07 2.59A12.89 12.89 0 0 0 8.23 18a9.65 9.65 0 0 1-1.71-.83 3.39 3.39 0 0 0 .42-.33 11.66 11.66 0 0 0 10.12 0q.21.18.42.33a10.84 10.84 0 0 1-1.71.84 12.41 12.41 0 0 0 1.08 1.78 16.44 16.44 0 0 0 5.06-2.59 17.22 17.22 0 0 0-3-11.59 16.09 16.09 0 0 0-4.09-1.35zM8.68 14.81a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.93 1.93 0 0 1 1.8 2 1.93 1.93 0 0 1-1.8 2zm6.64 0a1.94 1.94 0 0 1-1.8-2 1.93 1.93 0 0 1 1.8-2 1.92 1.92 0 0 1 1.8 2 1.92 1.92 0 0 1-1.8 2z"
            ></path></svg>
        </a>
        <a class="github" href="https://github.com/bkmac511" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"
            ><path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
            ></path></svg>
        </a>
      </p>
    </div>
  </main>
</Layout>

<style>
  main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
  .text {
    text-align: center;
    font-size: 1.5rem;
  }
  .contact {
    margin-top: 40px;
    text-align: center;
  }
  .introduction {
    font-size: 2.5rem;
    font-weight: bold;
  }
  hr {
    margin-left: 15%;
    margin-right: 15%;
  }
  .mail {
    margin-right: 40px;
  }
  .github {
	margin-left: 40px;
  }
</style>
